#-e git+git://github.com/RDFLib/rdflib.git#egg=rdflib
-e git+git://github.com/RDFLib/rdflib.git@5.0.0#egg=rdflib
-e git+git://github.com/RDFLib/rdflib-jsonld.git#egg=rdflib_jsonld

# This version of extruct is patched for compatibility with rdflib 5.x
-e git+git://github.com/datadavev/extruct.git#egg=extruct

# This version of pySHACL includes additional graph metrics for reporting
-e git+git://github.com/datadavev/pySHACL.git#egg=pyshacl

requests
